@model UpdateFeatureDto
@{
	ViewData["Title"] = "UpdateFeature";
	Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Öne Çıkan İşlemleri</h4>
		<div class="row">
			<div class="col-md-12">
				<form method="post">
					<div class="card">
						<div class="card-header">
							<div class="card-title">Yeni Öne Çıkan Girişi</div>
						</div>
						<input type="hidden"asp-for="FeatureId" />
						<div class="card-body">
							<div class="form-group">
								<label for="FeatureTitle1">Öne Çıkan Alan İçin 1.Başlık Giriniz</label>
								<input type="text" class="form-control" asp-for="FeatureTitle1" id="FeatureTitle1">
							</div>
							<div class="form-group">
								<label for="FeatureTitle2">Öne Çıkan Alan İçin 2.Başlık Giriniz</label>
								<input type="text" class="form-control" asp-for="FeatureTitle2" id="FeatureTitle2">
							</div>
							<div class="form-group">
								<label for="FeatureTitle3">Öne Çıkan Alan İçin 3.Başlık Giriniz</label>
								<input type="text" class="form-control" asp-for="FeatureTitle3" id="FeatureTitle3">
							</div>
							<div class="form-group">
								<label for="FeatureDescription1">Öne Çıkan Alan İçin 1.Açıklamayı Giriniz</label>
								<input type="text" class="form-control" asp-for="FeatureDescription1" id="FeatureDescription1">
							</div>
							<div class="form-group">
								<label for="FeatureDescription2">Öne Çıkan Alan İçin 2.Açıklamayı Giriniz</label>
								<input type="text" class="form-control" asp-for="FeatureDescription2" id="FeatureDescription2">
							</div>
							<div class="form-group">
								<label for="FeatureDescription3">Öne Çıkan Alan İçin 3.Açıklamayı Giriniz</label>
								<input type="text" class="form-control" asp-for="FeatureDescription3" id="FeatureDescription3">
							</div>
						</div>
						<div class="card-action">
							<button class="btn btn-primary">Öne Çıkan Güncelle</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>


